<html>

<head>
    <meta charset="utf-8">
    <title>8..0</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        <strong>Vue 组件基本示例: data 必须是一个函数</strong><br>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter><br>
        <strong>两种组件的注册类型：全局注册和局部注册</strong><br><br>
        <strong>通过 Prop 向子组件传递数据</strong>
        <blog-post v-for="post in posts" :key="post.id + '-e1'" :title="post.title"></blog-post><br><br>
        <strong>单个根元素</strong>
        <blog-post2 v-for="post in posts" :key="post.id + '-e2'" :post="post"></blog-post2><br><br>
        <strong>通过事件向父级组件发送消息</strong>
        <div v-bind:style="{ fontSize: postFontSize + 'em' }">
            <blog-post2 v-for="post in posts" :key="post.id + '-e3'" :post="post" @enlarge="postFontSize += $event"></blog-post2>
        </div>
        <br><br>
        <strong>在组件上使用 v-model </strong><br>
        <custom-input v-model="putString"></custom-input> {{ putString }}
    </div>
</body>
<script type="text/javascript">
    Vue.component('custom-input', {
        props: ['value'],
        template: `<input v-bind:value="value" v-on:input="$emit('input', $event.target.value)">`
    });
    Vue.component('button-counter', {
        data() {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });
    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    });
    Vue.component('blog-post2', {
        props: ['post'],
        template: `
            <div class="blog-post">
                <h3>{{ post.title }}</h3>
                <button @click='$emit("enlarge", 0.1)'>Enlarge text</button>
                <div v-html="post.content"></div>
            </div>`
    });

    var vm = new Vue({
        el: '#example',
        data: {
            putString: '',
            postFontSize: 1,
            posts: [{
                    id: 1,
                    title: 'My journey with Vue',
                    content: '<span>My journey with Vue content</span>'
                },
                {
                    id: 2,
                    title: 'Blogging with Vue',
                    content: '<span>Blogging with Vue content</span>'

                },
                {
                    id: 3,
                    title: 'Why Vue is so fun',
                    content: '<span>Why Vue is so fun content</span>'
                }
            ]
        }
    })
</script>

</html>